<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">
    <title>To Do List</title>
  </head>
  <body>
      <div class="container">
          <div id="hello h2">
          <h1>{{ category.getName }}</h1>
      </div>
          {% if tasks is not empty %}
          <p>Here are the tasks for this category:</p>
          <ul>
              {% for task in tasks %}
                <li class="category"><h2 class="bubba">{{ task.getDescription }}</h2></li>
              {% endfor %}
          </ul>
          {% endif %}

          <h2 id="hello h2">Add a task to this category:</h2>


          <div class="form-group">
              <form action="/add_tasks" method="post">
                  <input id="category_id" type="hidden" name="category_id" value="{{ category.getId }}">
                  <label for='task_id'>Select a task</label>
                  <select id='task_id' name='task_id' type='text'>
                      {% for task in all_tasks %}
                        <option value="{{ task.getId }}"> {{ task.getDescription }} </option>
                      {% endfor %}
                  </select>
              </div>
                  <button type="submit">Add task</button>
             </form>

             <p><a href="/categories/{{ category.getId }}/edit">Edit this category</a></p>
             <p><a href='/'>Home</a></p>
      </div>
  </body>
</html>
